#top-bar{
    height: 100px;
    width:100%;
	background:$color_top_bar_blue;
	border-bottom:3px solid #E2E2E2;
    .logo{
        img{
            max-height:75px;
        }
    }

    .social{
        @extend %social;
    }

}

.bg-white{
	background: #fff;
}

#main-menu{
	.social{
		@extend %social;
		li{
			float: left !important;
			margin-left: 20px;
		}
	}
	.nav-item{
		position: relative;
		&.active{
			a::after{
				border-bottom: 5px solid $color_blue_subheadings;
				bottom: -10px;
				content: " ";
				left: 0;
				position: absolute;
				right: 0;
			}
		}
	}
    .nav-link{
        font-size: 0.9rem;
		color:$gray_1 !important;
		padding: 10px 15px !important;
    }
}

#content{
	padding-top: 10%;
}
