

@media (max-width: 575.98px) { 
	.contact-form{
		width: 100%;
		padding-right:5px !important;
		padding-left:5px !important;
	}
	#leaders{
		.card{
			margin-bottom: 50px;
			height:250px;
		}
		img{
			max-width: 100px;
		}
	}
	#home {
		.card {
			.card-img-top {
				height: auto;
				width: 158px;
				margin: auto;
			}
		}
	}
}


@media (max-width: 768px) { 
	#home {
		.card {
			margin-bottom: 10px;
			.card-img-top {
				height: auto;
				width: 158px;
				margin: 30px auto auto;
			}
		}
	}

	.project-column {
		text-align: center;
		padding-bottom: 20px;
		p {
			text-align: center !important;
		}
	}
}