@mixin dimensions($width: null, $height: $width) { 
    width: $width; 
    min-height: $height; 
}

@mixin bg-overlay($r,$g,$b,$o,$bg){
	background: linear-gradient(rgba($r, $g, $b, $o), rgba($r, $g, $b, $o)),url($bg) center center no-repeat scroll;
}

@mixin p-block($w){
	display: block;
	margin: 0 auto;
	max-width:$w;
}

%reset { 
    margin: 0; 
    padding: 0; 
}
%flex { 
    display: flex; 
    justify-content: center;
    align-items: center; 
}
*, *:before, *:after { box-sizing: border-box; }

%headings{
    font-family: $font_sans_serif;
	color:$color_blue_subheadings;
	font-size: 1.2rem;
}

%bg-cover{
    background-repeat: no-repeat;
    background-size: cover;
}

%social{
	height: 100px;
	ul{
		margin-top: 5%;
		li{
			a{
				display: block;
				@include dimensions(35px,35px);
				@extend %bg-cover;
				margin-right: 10px;
				&.fb{
					background-image: url(/img/layout/logos/fb.png);
				}
				&.twitter{
					background-image: url(/img/layout/logos/twitter.png);
				}
				&.linkedin{
					background-image: url(/img/layout/logos/linkedin.png);
				}
				&.youtube{
					background-image: url(/img/layout/logos/youtube.png);
				}
			}
		}
	}
}
