$color_top_bar_blue: #E7EDF0;
$gray_1:#4E4E4E;
$gray_base:#474747;
$black: #0F0F0F;
$gray_2:#8D9AA2;
$gray_bg:#F4F5F7;

$color_blue_divisor: #5096BB;
$color_blue_subheadings:#134A71;
$color_blue_numeralia_bg:#E7EDF0;

$font_sans_serif: "Rubik", sans-serif;
