html,body{
    height:100%;
    margin: 0px;
    padding: 0px;
}


a:hover{
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    transition: background-color 1s ease;
    &.color-white{
        background: #ffffff;
    }
    &.color-black{
        background:$black;
    }
}

.container-fluid{
    padding-left:10%;
    padding-right:10%;
}
