
h1{
    @extend %headings;
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: lighter;
}
h2.subheading{
    @extend %headings;
	font-weight: bold;
	line-height: 1;
	&.lg{
		font-size: 1.3rem !important;
	}
}
h3{
    @extend %headings;
	color:$color_blue_divisor;
	font-weight: bold;
	font-size: 1rem;
}

p{
	font-size: 1.2rem;
	font-weight: normal;
	color:$black;
	&.block{
		@include p-block(650px);
	}
}

.black{
	color:$black !important;
}

.blue_1{
	color:$color_blue_subheadings;
}

.blue_2{
	color:$color_blue_divisor;
}

.gray{
	color:$gray_base !important;
}
