#cases{
	h1{
		font-size: 4rem;
		color:$color_blue_subheadings;
		text-transform: uppercase;
		font-weight: bolder;
	}
	h2{
		font-size: 2rem;
		color:$color_blue_subheadings;
		font-weight: bolder;
	}

	.case{
		.logo{
			width:250px;
		}
		p{
			font-size: 1.2rem;
		}
	}
	.text-intro {
		p {
			text-align: justify;
			font-size: 1.3rem; 
		}	
	}

	.first-imagen {
		margin-left: 100px;
	}

	.col{
		&.esp1 {
			img {
				display: block;
				float: right;
				max-width: 85%;
			}
		}
		&.esp2 {
			img {
				display: block;
				margin: auto;
				max-width: 85%;
			}
		}
		&.esp3 {
			img {
				display: block;
				float: left;
				max-width: 85%;
			}
		}
	}
	.nav {
		&.mod {
			border:2px solid $color_blue_numeralia_bg;
			padding: 30px 0;
			background: #F2F2F2;
		}
	}	
	
	.social-bar.casos-exito  {
		li {
			width: 200px;
			margin: 0;
			a {
				width: 60px;
				height: 60px;
				margin: auto;
			}
		}
	}

	.testimonial{
		border:2px solid $color_blue_numeralia_bg;
		padding: 40px 0;
		width: 50%;
		margin: auto;
		margin-top: 100px;
		p {
			font-size: 1rem;
			font-weight: 500;
		}
	}
	
	.bot {
		margin-bottom: 5rem;
	}	

	.cases-images-container {
		.col {
			position: relative;
			&:not(.first-imagen) {
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 70%;
				}
			}		
		}
	}
}



