#convocatoria{
	.banner{
		@include dimensions(100%,300px);
		&.top{
			@include bg-overlay(0,0,0,0,'/img/convocatoria/banner.jpg');
		}
		&.bottom{
			@include dimensions(100%,600px);
			@include bg-overlay(0,0,0,0,'/img/convocatoria/banner_2.jpg');
		}
	}

	h1{
		font-size: 3rem;
		color:$gray_2;
		font-weight: bolder;  
	}

}
