#contact{

	.bg-image {
		display: block;
		width: 100%;
		height: 400px;
		background-image: url(../img/contact/contacto.jpg);
		background-size: cover;
		background-position: center;
	}

	h1{
		font-size: 4rem;
		color:$gray_2;
		font-weight: bolder;
	}
}

#contact-area{
	p{
		font-size: 1.2rem;
		line-height: 1.4;
	}
}
