#top-bar {
    height: 145px;
    color: #e7ebef;    
}
    
.row {
    &.top-bar{
        height: 140px;
        align-items: center; 
    }
}

nav {
    li {
        padding: 0 10px;
        padding-top: 20px;
    }
}

#el-menu{
    .nav-link {
        font-size: 1.2rem;
        color: #000000 !important;
    }
    .nav-item {
        &.active a::after {
            border-bottom: 0;
        }
    }
    border-bottom: 5px solid #0e527a;
}

