#home{
	.banner{
		@include dimensions(100%,800px);
		@extend %bg-cover;
		@include bg-overlay(0,0,0,0,'/img/home/home_banner.jpg');
		.logo{
			width:500px;
			margin-top: 10%;
			animation: moveInDown 4s;
		}
	}

	@keyframes moveInDown {
		0% {
			opacity: 0;
			transform: translateY(-100px);
		}
		80% {
			transform: translateY(10px);
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	.about{
		@include dimensions(100%,600px);
		@extend %bg-cover;
		background: url(/img/home/home_about_bg.jpg) center center no-repeat;
		h1{
			font-size: 1.5rem;
			color:#fff;
			font-weight: bolder;
			margin-top: 10%;
		}
		p{
			font-size: 1.4rem;
			color:#fff;
			font-weight: normal;
			@include p-block(750px);
		}
		
	}
	.objetive {
		h2 {
			font-size: 25px;
		}
		.obj {
			text-align: justify;
		}
		p{
			font-size: 1.14rem;
			color:#0f0f0f;
			font-weight: normal;
			@include p-block(750px);
			text-align: left;
		}
		
		.sub-obj {
			font-size: 1.25rem;
			color: #137cc1;
		}
	}

	.numeralia{
		h3 {
			font-size: 1.5rem;
		}
		.equipos {
			p{
				font-size: 1.2rem;
			}
		}
	}
	

	.icons-grid{
		.icon{
			width: 100%;
			img{
				width: 40%;
			}	
		}
		.counter-ph {
			img{
				height: 60px;
				width: 60px;
			}
		}
		
	}

	.counters{
		font-size: 2.5rem;
		color:$color_blue_divisor;
		font-weight: bold;
		margin: 20px 0;
		display: inline-block;
	}

	.institutions{
		background: $color_blue_subheadings;
		height:200px;
		position: relative;display: block;
	}

	.logo-icorps{
		width:300px;
	}

	.logo-carousel-img{
		width:200px;
	}

	#associates {
		overflow: hidden;
	}

	.icorp{
		.modelo{
			p {
				text-align: justify;
			}
		}
	}

	.equipos {
		p {

		}
	}

	.card{
		.card-img-top{
			width: 80%;
			border: 0px;
			border-radius: 50%;
			background:#fff;
			margin-top: 30px;
		}
		.card-body{
			p{
				font-weight: bold;
				color:$color_blue_subheadings;
				font-size: 0.8rem;
			}
		}
	}

	.social-bar.social-land {
		ul {
			margin-top: 0;
		}
		.nav-item {
			margin: 0;
			a {
				height: 60px;
				width: 60px;
			}	
		}

		li {
			width: 200px;
			
			a {
				margin: auto;
			}
		}
	}

	.team-member{
		width: 30% !important;
	}

	.node{
		// margin: 0 1px;
		min-height: 390px;
		padding: 1px;
	}
	
	#top-bar {
		height: 145px;
	}
}
