#leaders{

	.card{
		height:168px;
		background:$gray_bg;
	}

	.card-body {
		&.especial{
			padding-top: .7rem;
		}
	}

	.banner{
		@include dimensions(100%,300px);
		&.bottom{
			@include dimensions(100%,400px);
			@include bg-overlay(0,0,0,0,'/img/leaders/banner.jpg');
		}
	}
	.rectangle-img {
		margin-top: 40px;
		&.prec {
			margin-top: 30px;
		}
	}
	.square-img {
		margin-top: 10px;
	}
}
