#participants{
	.initial{
		margin-top: 30px;
	}

	.leader{
		width: 300px;
	}

	.card{
		border:0px transparent;
		background:$gray_bg;
		margin-bottom: 30px;
		min-height: 300px;
		a img {
			display: block;
			margin: 0 auto;
			border: none;
		}
		position: relative;
	}

	.card-img-top {
		width:70%;
	}

	.card-body{
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 10px;
		padding: 0 1.25rem;
		p {
			font-size: 0.9rem;
		}
	}

	.banner{
		@include dimensions(100%,300px);
		&.bottom{
			@include dimensions(100%,400px);
			@include bg-overlay(0,0,0,0,'/img/participants/banner.jpg');
		}
	}

}
