.alert {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: .1rem solid transparent;
    border-radius: .4rem;

    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    &-dismissable {
        padding-right: 3.5rem;
    }
}

.a {
    background: transparent !important;

    &.red {
        color: #f91942;
    }
    &.green {
        color: #18aeb5;
    }
    &.third {
        color: #9b9b9b;
    }
}

.paddingless {
    padding: 0 !important;
}

.marginless {
    margin: 0 !important;
}

.small-vertical-margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.full-h{
    height:100vh;
}

.static{
    position:fixed;
}

.ninja{
    opacity:0;
}


.bg-clear-gray{
    background:$gray_1;
}
.bg-gray{
    background:$gray_base;
}
.bg-black{
    background:$black;
}
.animate{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.no-spaces{
    margin-left:0% !important;
    margin-right:0% !important;
    padding-left:0% !important;
    padding-right:0% !important;
}

.counter-ph{
	@include dimensions(60px);
	background:$color_blue_subheadings;
	border-radius: 50%;
	margin: 0 auto;
}

.logo-white-ph{
	width: 85%;
	height: 80px;
	margin:0 auto;
	background: #fff;
}

.logo-white-ph{
	width: 85%;
	height: 80px;
	margin:0 auto;
	background:$gray_1;
}

.bg-numeralia{
	background: $color_blue_numeralia_bg;
}
